<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProNotes"
        tools:targetApi="31">
        <activity
            android:name=".ImageActivity"
            android:exported="false" />
        <activity
            android:name=".DrawingActivity"
            android:exported="false"
            android:label="@string/title_activity_drawing"
            android:theme="@style/Theme.ProNotes.NoActionBar" />
        <activity android:name=".Checklist.ChecklistActivity" />
        <activity
            android:name=".Checklist.ChecklistNotesActivity"
            android:label="Checklist Notes" />
        <activity
            android:name=".FolderActivity"
            android:exported="false" />
        <activity
            android:name=".NotesTakerActivity"
            android:exported="false"
            android:theme="@style/Theme.ProNotes.NoActionBar" />
        <activity
            android:name=".OpenSettings"
            android:exported="false"
            android:theme="@style/Theme.ProNotes.NoActionBar" />
        <activity
            android:name=".OpenHelp"
            android:exported="false"
            android:theme="@style/Theme.ProNotes.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".widgets.WidgetConfigActivity" />

        <receiver
            android:name=".widgets.NoteWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.btn.pronotes.DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info" />
        </receiver>

        <service
            android:name=".services.BackupService"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities,android:exported">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

    </application>

</manifest>